* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

/* body {

} */

.container {
    height: 100vh;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 5px;
    background-color: lightslategray;
}

.sidebar {
    padding: 5px;
    background-color: blue;
    grid-row: span 4;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
}

.sidebar-items {
    color: aliceblue;
}

.header {
    display: grid;
    grid-template: 2 1fr / 2 1fr;
    background-color: aqua;
    grid-column: span 3;
}

.header-search button {
    background-image: url(search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 5vh;
    width: 5vw;
    border: none;
    background-color: aqua;
    padding: 10px;
}

.header-btn {
    grid-area: 2 / 2 / 3 / 3;
}

.header-btn button {
    background-color: rgb(68, 66, 66);
    color: rgb(92, 143, 143);
    border-radius: 20px;
    padding: 10px;
}

.main-content {
    background-color: cadetblue;
    grid-row: span 3;
    grid-column: span 3;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
}

.projects {
    grid-row: span 3;
    grid-column: span 2;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.announcements {
    display: grid;
    grid-template-rows: repeat(autofit, 1fr);
    align-self: start;
}

.trending {
    display: grid;
    grid-template-rows: repeat(autofit, 1fr);
    align-self: end;
}